.form_container {
  max-width: 500px;
  min-width: 450px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #6e8beb;
  border-radius: 8px;
  margin: 0 auto;
}

.form_title {
  font-size: 20px;
  font-weight: 600;
}

.form_inputText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.padding10 {
  padding: 10px 10px 0;
}

.padding5_10 {
  padding: 5px 10px;
}

.padding10_left {
  padding-left: 10px;
}

.full_width {
  width: 100%;
}
.half_width {
  width: calc(100% / 2 - 20px);
}

.form_row {
  flex-direction: row;
}

.form_spacebetween {
  justify-content: space-between;
}

.form_inputRadio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form_radio {
  width: 20px;
  padding: 5px;
  margin-right: 5px;
}

.form_label {
  font-size: 16px;
  width: 100%;
}

.form_input {
  font-size: 18px;
  padding: 5px 10px;
  line-height: 20px;
  width: 100%;
  border-bottom: 1px solid #cbd4f0;
}

.delivery_title {
  font-size: 20px;
  font-style: italic;
}

.form_validation {
  font-size: 14px;
  color: #ff0000;
  height: 18px;
  margin: 0 auto 0 0;
}

.form_select {
  appearance: none;
  font-size: 18px;
  padding: 5px 10px;
  line-height: 20px;
  width: 100%;
  border-bottom: 1px solid #cbd4f0;
}

.form_button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #6e8beb;
  color: #eee;
  text-shadow: 1px 1px 3px #000;
  cursor: pointer;
  transition-property: transform background-color color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.form_button_disabled {
  pointer-events: none;
  border: 1px solid #cbd4f0;
  background-color: #cbd4f0;
  color: #6e8beb;
  text-shadow: 1px 1px 3px #fff;
}

.form_button:hover {
  transform: translate(1px, 1px);
  background-color: #8aa3f3;
  color: #fff;
}
