.modal_outter {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_popup {
  max-width: 400px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgba(60, 50, 254, 0.468);
  color: #fff;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
}