.card_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  width: 350px;
  padding: 5px;
  border: 1px solid #6e8beb;
  border-radius: 8px;
  margin: 10px;
}

.card_block {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.card_column {
  flex-direction: column;
  align-items: flex-start;
}

.card_border {
  border-bottom: 1px solid #cbd4f0;
  padding: 0 0 10px;
  margin-bottom: 5px;
}

.card_full_width {
  width: 100%;
}

.card_half_width {
  width: calc(100% / 2);
}


.card_category {
  font-size: 14px;
  font-weight: 600;
}
.card_address {
  padding: 5px 0;
}