.search_container {
  display: flex;
  min-width: 300px;
  width: 50%;
  margin: 10px;
  border: 1px solid rgb(110, 139, 235);
  border-radius: 10px;
  padding: 5px 10px;
}

.search_icon {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}

.search-input {
  font-size: 18px;
  padding: 5px 10px;
  line-height: 20px;
  width: 100%;
}